<!DOCTYPE html>
<html>
  <head class="">
    <title>Character</title>
    <link rel='stylesheet' href='/stylesheets/tailwind.css' />
  </head>
  <body class="text-yellow-500 text-xl font-mono">
    <h2 class="bg-black"><%= testejs %></h2>
    <div class="bg-black text-center">
      <p class="text-lg font-bold uppercase">Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque suscipit exercitationem provident odit ipsam in. Enim expedita quis exercitationem ea obcaecati soluta ab doloremque voluptate nesciunt! Quos quisquam non earum?</p>
    </div>
    <div class="bg-black text-center">
      <p class="text-xl px-4">Hic optio modi obcaecati odio qui quam iusto sequi, perspiciatis magnam et inventore rem, a nisi corporis pariatur fugit reiciendis, repellat natus deleniti. Minima, ipsam quos quae incidunt quam impedit!</p>
    </div>
    <div class="bg-black text-center">
      <p class="text-xs py-4">Rerum quo ut, cum laudantium obcaecati, dolor expedita nihil sint debitis eligendi qui. Distinctio odio maiores laudantium excepturi. Eum voluptates voluptatem corrupti laboriosam deserunt sit dolorum alias nesciunt debitis ipsa.</p>
    </div>
    <div class="bg-black text-center">
      <p class = "text-6xl">Porro commodi obcaecati laborum assumenda iure aspernatur doloremque, laboriosam suscipit iste officiis fugiat nihil nostrum delectus harum mollitia illum ad eos repudiandae maiores quibusdam! Asperiores maiores esse odio blanditiis ducimus.</p>
    </div>
    <ul class="ml-10 list-disc">
      <li>
        <p class="mt-4 p-2 border-4 rounded-sm bg-blue-400">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Magni, molestias! Quas repellendus, et omnis sint eos ipsam repudiandae, libero at deleniti inventore est, atque cumque nemo nesciunt dolores! Aliquid, tenetur!</p>
      </li>
      <li class="list-decimal">
        <p class="mt-4 p-2 border-8 rounded bg-blue-500">Inventore, reiciendis! Quibusdam magnam numquam vero molestiae culpa dolore possimus ab perspiciatis, inventore sit doloremque, dignissimos cum hic. Quibusdam nobis esse blanditiis a dicta perferendis dolores ab ullam nemo aut?</p>
      </li>
      <li>
        <p class="mt-4 p-2 border-8 rounded-2xl bg-blue-600">Veritatis beatae rem laboriosam quas, quia unde! Nam sit quam id dignissimos excepturi esse dolorum quis officiis voluptatibus debitis! Animi accusantium quas qui distinctio in atque culpa repellat praesentium quae!</p>
      </li>
      <li>
        <p class="mt-4 p-2 border-8 rounded-full bg-blue-700">Eius deleniti quaerat fugit quisquam esse ipsa quos laboriosam aperiam tempora. Nisi saepe quibusdam quam, corporis aut nulla fugiat dolor optio dicta accusamus, quae mollitia perferendis exercitationem excepturi enim officia.</p>
      </li>
      <li>
        <p class="mt-4 p-2 border-8 rounded-full border-black bg-blue-800">Eius deleniti quaerat fugit quisquam esse ipsa quos laboriosam aperiam tempora. Nisi saepe quibusdam quam, corporis aut nulla fugiat dolor optio dicta accusamus, quae mollitia perferendis exercitationem excepturi enim officia.</p>
      </li>
      <li>
        <p class="mt-4 p-2 border-8 rounded-full border-green-500 bg-black">Eius deleniti quaerat fugit quisquam esse ipsa quos laboriosam aperiam tempora. Nisi saepe quibusdam quam, corporis aut nulla fugiat dolor optio dicta accusamus, quae mollitia perferendis exercitationem excepturi enim officia.</p>
      </li>
    </ul>
    <div class="flex justify-evenly pb-4 bg-blue-900">
      <p class="good-choice">good choice</p>
      <p class="evil-choice">evil choice</p>
    </div>
    <div>
      <p class="text-xs line-through">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eos totam voluptatem cum ipsum earum, nesciunt vel placeat ipsa facilis odit nihil voluptates minima et, quae eveniet tenetur nam, facere quis?</p>
    </div>
    <div class="bg-gray-50 p-4">
      <div class="shadow-none rounded-3xl border-matrix border-8 text-center bg-black m-4 hover:shadow-2xl">
        <p>Similique officiis quis ullam cumque perferendis mollitia nesciunt amet libero quas adipisci. Necessitatibus quibusdam dolor magni fuga asperiores eveniet repellat veritatis totam perspiciatis voluptatem iusto, sint, dolorum quasi dignissimos. Laboriosam?</p>
      </div>
    </div>
    <div>
      <p>Eaque dolorum beatae architecto fugit quod temporibus ipsa, minus, illo amet, odio cupiditate vitae velit. Nostrum sunt labore optio itaque ducimus repellat? Vero modi labore quam aspernatur rerum autem dignissimos?</p>
    </div>
    <ul class="ml-10 list-disc">
      <li>
        <p class="mt-4 p-2 border-8 rounded-3xl bg-black border-yellow-500">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Magni, molestias! Quas repellendus, et omnis sint eos ipsam repudiandae, libero at deleniti inventore est, atque cumque nemo nesciunt dolores! Aliquid, tenetur!</p>
      </li>
      <li class="list-decimal">
        <p class="mt-4 p-2 border-8 rounded-3xl border-green-500 bg-black text-center">Inventore, reiciendis! Quibusdam magnam numquam vero molestiae culpa dolore possimus ab perspiciatis, inventore sit doloremque, dignissimos cum hic. Quibusdam nobis esse blanditiis a dicta perferendis dolores ab ullam nemo aut?</p>
      </li>
      <li>
        <p class="mt-4 p-2 border-8 rounded-3xl text-green-300 bg-black border-green-600 uppercase">Veritatis beatae rem laboriosam quas, quia unde! Nam sit quam id dignissimos excepturi esse dolorum quis officiis voluptatibus debitis! Animi accusantium quas qui distinctio in atque culpa repellat praesentium quae!</p>
      </li>
      <li>
        <p class="mt-4 p-2 border-8 rounded-3xl text-matrix bg-black border-matrix">Eius deleniti quaerat fugit quisquam esse ipsa quos laboriosam aperiam tempora. Nisi saepe quibusdam quam, corporis aut nulla fugiat dolor optio dicta accusamus, quae mollitia perferendis exercitationem excepturi enim officia.</p>
      </li>
      <li>
        <p class="mt-4 p-2 border-8 rounded-3xl bg-black border-yellow-500 italic">Eius deleniti quaerat fugit quisquam esse ipsa quos laboriosam aperiam tempora. Nisi saepe quibusdam quam, corporis aut nulla fugiat dolor optio dicta accusamus, quae mollitia perferendis exercitationem excepturi enim officia.</p>
      </li>
      <li>
        <p class="mt-4 p-2 border-8 rounded-full bg-black border-yellow-500 italic font-bold text-center">Eius deleniti quaerat fugit quisquam esse ipsa quos laboriosam aperiam tempora. Nisi saepe quibusdam quam, corporis aut nulla fugiat dolor optio dicta accusamus, quae mollitia perferendis exercitationem excepturi enim officia.</p>
      </li>
    </ul>
    <div class="grid grid-cols-3 gap-5">
      <div class="p-4 m-3 bg-crimson"></div>
      <div class="p-4 m-3 bg-matrix"></div>
      <div class="p-4 m-3 bg-aquamarine"></div>
    </div>
  </body>
</html>
