<!DOCTYPE html>
<html>
  <head>
    <title>Logowanie</title>
    <link rel='stylesheet' href='/stylesheets/login.css' />
  </head>
  <body>
    <div class="container">
        <div class="header">
            <h2>Member login</h2>
        </div>
        <div class="main">
          <form method="post">
            <div class="linput"> <input type="email" placeholder="email"></div>
            <div class="linput"> <input type="password" placeholder="password"></div>
            <button class="btn" type="submit">LOGIN</button>
            <div class="forgot"><a href="#">Forgot password?</a></div>
            <div class="newAccount"><a href="#">Create new Account</a></div>
          </form>
        </div>
    </div>
  </body>
</html>
