<!DOCTYPE html>
<html>
  <head>
    <title>Register</title>
    <link rel='stylesheet' href='/stylesheets/register.css' />
  </head>
  <body>
    <div class="container">
        <div class="header">
            <h2>Member Registration</h2>
        </div>
        <div class="main">
          <form method="post">
            <div> <input type="email" placeholder="email" class="Email-Input-Field"></div>
            <div> <input type="password" placeholder="password" class="Password-Input-Field"></div>
            <div> <input type="repeatedPassword" placeholder="repeat password" class="repeatedPassword-Input-Field"></div>
            <button class="btn" type="submit">REGISTER</button>
            <div class="AlreadyHasAccount"><a href="login">Do you already have an account? Click here to log in.</a></div>
          </form>
        </div>
    </div>
  </body>
</html>
