.container{

    height: 100%;
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.container a{
    text-decoration: none;
    color: black;
}
.header{
    margin-top: 200px;
}
.main{
    margin-top: 50px;
}
.linput input{
    margin-top: 10px;
    height: 40px;
    width: 300px;
    border-radius: 15px;
    padding-left: 20px;
    font-size: 15px;
}
.btn{
    border: 5px solid black;
    border-radius: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: 200px;
    background-color: red;
    font-weight: bold;
    font-size: 50px;
    color: white;
    margin-top: 10px;
    margin-bottom: 10px;
}
.forgot{
    border: 5px solid black;
    border-radius: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    background-color: cyan;
    font-weight: bold;
    margin-bottom: 10px;
}
.newAccount{
    border: 5px solid black;
    border-radius: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    background-color: greenyellow;
    font-weight: bold;
    margin-bottom: 10px;
}
